{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false
        },
        "target": "es2022",
        "loose": false,
        "minify": {
            "compress": false,
            "mangle": {
                "toplevel": true,
                "keep_classnames": false,
                "keep_fnames": false,
                "keep_private_props": false,
                "ie8": false,
                "safari10": false
            }
        }
    },
    "module": {
        "type": "es6"
    },
    "minify": true,
    "isModule": true
}